* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: auto; */
}

body {
    background-color: black;
    background-image: url("./assets/09-huong-full.png");
    background-repeat: repeat-y;
    background-position-x: 0;
    background-position-y: 0;
    background-size: cover;
    /* overflow: hidden visible; */
}

.primary-container {
    position: relative;
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 128px;
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: auto;
}

.art-container {
    /* Debug */
    /* border: 2px #f00 dotted; */

    /* https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/ */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    /* auto-fit is the wrong choice here (despite having a seemingly identical result to auto-fill)
    because if you had a viewport long enough to show all characters in a single row, auto-fit would
    begin to stretch the characters to fit the container, which is NOT ideal for this use case */
    grid-gap: 2px;
    grid-auto-rows: minmax(80px, auto);
    grid-auto-flow: dense;
}

.primary-container::-webkit-scrollbar {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: auto;
    padding: 0;
    overflow: hidden;
    background-color: black;
    opacity: 0.8;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    --nav-height: 32px;
    height: var(--nav-height);
    z-index: 100;
}

ul > * {
    font-family: monospace;
}

li {
    font-family: monospace;
    float: left;
}

li a {
    font-family: monospace;
    display: block;
    color: white;
    text-align: center;
    padding: 4px 8px;
    text-decoration: none;
    user-select: none;
}

li a:hover {
    background-color: white;
    color: black;
    cursor: default;
}

.card {
    position: relative;
    display: inline-block;
    min-height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    z-index: 5;
}

.dead {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
}

.dead:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
}

/* Below CSS From https://www.w3schools.com/css/css_tooltip.asp */

.card .tooltiptext {
    font-size: smaller;
    word-wrap: break-word;
    visibility: hidden;
    color: #fff;
    background-color: black;

    padding: 10px;
    
    text-align: center;
    border-radius: 0px;
    top: 100%;
    opacity: 0.8;

    /* Positioning tooltip text */
    position: absolute;
    z-index: 6;

    /* Speech bubble shape from https://verpex.com/blog/website-tips/how-to-create-a-tooltip-speech-bubble-using-css */
    border-bottom: var(--h) solid #0000;
    --h: 5px;
    --w: 10px;
    --p: 50%;
    right: calc(0% - var(--w));
    left: calc(0% - var(--w));
}

.art-1 .tooltiptext {
    min-width: 75px;
}

.art-2 .tooltiptext {
    min-width: 175px;
}

.art-3 .tooltiptext {
    min-width: 275px;
}

.art-4 .tooltiptext {
    min-width: 375px;
}

.card:hover .tooltiptext {
    visibility: visible;
    z-index: 6;
}

/* Above CSS From https://www.w3schools.com/css/css_tooltip.asp */

.art-1 {
    grid-column-end: span 1;
    grid-row-end: span 1;
    min-height: 100px;
}

.art-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
    min-height: 200px;
}

.art-3 {
    grid-column-end: span 3;
    grid-row-end: span 3;
    min-height: 300px;
}

.art-4 {
    grid-column-end: span 4;
    grid-row-end: span 4;
    min-height: 400px;
}

.hidden {
    display: none;
}

.shadowHedgehog:hover {
    transition-duration: 100ms;
    box-shadow: 4px 4px 4px black,
                -4px 4px 4px black,
                4px -4px 4px black,
                -4px -4px 4px black;
}

.abbyShadow:hover {
    transition-duration: 100ms;
    box-shadow: 4px 4px 4px white,
                -4px 4px 4px white,
                4px -4px 4px white,
                -4px -4px 4px white;
}

.absolutumShadow:hover {
    transition-duration: 400ms;
    box-shadow: 4px 4px 4px black,
                -4px 4px 4px black,
                4px -4px 4px black,
                -4px -4px 4px black;
}

.beetusShadow:hover {
    transition-duration: 400ms;
    box-shadow: 4px 4px 4px black,
                -4px 4px 4px black,
                4px -4px 4px black,
                -4px -4px 4px black;
}

.coilbaynShadow:hover {
    transition-duration: 100ms;
    box-shadow: 4px 4px 4px #ae873c, 4px 4px 4px #5b6555,
                -4px 4px 4px #ae873c, -4px 4px 4px #5b6555,
                4px -4px 4px #ae873c, 4px -4px 4px #5b6555,
                -4px -4px 4px #ae873c, -4px -4px 4px #5b6555;
}

.chembsShadow:hover {
    transition-duration: 100ms;
    box-shadow: 4px 4px 4px black, 4px 4px 4px #a00,
                -4px 4px 4px black, -4px 4px 4px #a00,
                4px -4px 4px black, 4px -4px 4px #a00,
                -4px -4px 4px black, -4px -4px 4px #a00;
}

.eozzurShadow:hover {
    transition-duration: 100ms;
    box-shadow: 4px 4px 4px black, 4px 4px 4px #00a,
                -4px 4px 4px black, -4px 4px 4px #00a,
                4px -4px 4px black, 4px -4px 4px #00a,
                -4px -4px 4px black, -4px -4px 4px #00a;
}

.huongShadow:hover {
    transition-duration: 1600ms;
    box-shadow: 32px 32px 32px 32px black,
                -32px 32px 32px 32px black,
                32px -32px 32px 32px black,
                -32px -32px 32px 32px black;
}

.parliamentShadow:hover {
    transition-duration: 100ms;
    box-shadow: 4px 4px 4px #444,
                -4px 4px 4px #444,
                4px -4px 4px #444,
                -4px -4px 4px #444;
}