* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: black;
    background-image: url("./assets/09-huong-full.png");
    background-repeat: repeat-y;
    background-position-x: 0;
    background-position-y: 0;
    background-size: cover;
}

.art-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 2px;
    grid-auto-rows: minmax(80px, auto);
    grid-auto-flow: dense;
    /* align-items: stretch; */
}

/* .art-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: safe space-around;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0;
    margin: 0;
} */

.card {
    position: relative;
    display: inline-block;
    min-height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* transition-delay: 100ms; */
    /* transition-timing-function: ease-in-out; */
}

.card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    z-index: 1;
}

.dead {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
}

.dead:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
}

/* Below CSS From https://www.w3schools.com/css/css_tooltip.asp */

.card .tooltiptext {
    white-space: pre-line;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    /* padding: 5px 0; */
    border-radius: 6px;
    left: 0%;
    top: 100%;
    opacity: 0.8;

    /* Positioning tooltip text */
    position: absolute;
    z-index: 2;

    /* Speech bubble shape from https://verpex.com/blog/website-tips/how-to-create-a-tooltip-speech-bubble-using-css */
    border-bottom: var(--h) solid #0000;
    --h: 5px;
    --w: 10px;
    /* --p: 50%; */
    --p: 45.5%
}

.art-1 .tooltiptext {
    min-width: 100px;
    max-width: 100px;
    padding: 20px;

    /* Speech bubble shape from https://verpex.com/blog/website-tips/how-to-create-a-tooltip-speech-bubble-using-css */
    /* FLIPPED VERTICALLY */
    clip-path: polygon(0                           var(--h), /* [1] */
                       calc(var(--p) - var(--w)/2) var(--h), /* [2] */
                       var(--p)                    0, /* [3] */
                       calc(var(--p) + var(--w)/2) var(--h), /* [4] */
                       100%                         var(--h), /* [5] */
                       100%                         calc(100% - var(--h)), /* [6] */
                       0                           calc(100% - var(--h)) /* [7] */
                      );
    /* ORIGINAL */
    /* clip-path: polygon(0                           0,
                          100%                        0,
                          100%                        calc(100% - var(--h)),
                          calc(var(--p) - var(--w)/2) calc(100% - var(--h)),
                          var(--p)                    100%,
                          calc(var(--p) + var(--w)/2) calc(100% - var(--h)),
                          0                           calc(100% - var(--h))
                         ); */
}

.art-2 .tooltiptext {
    min-width: 200px;
    max-width: 200px;
    padding: 20px;

    /* Speech bubble shape from https://verpex.com/blog/website-tips/how-to-create-a-tooltip-speech-bubble-using-css */
    clip-path: polygon(0                           var(--h), /* [1] */
                       calc(var(--p) - var(--w)/2) var(--h), /* [2] */
                       var(--p)                    0, /* [3] */
                       calc(var(--p) + var(--w)/2) var(--h), /* [4] */
                       100%                        var(--h), /* [5] */
                       100%                        calc(100% - var(--h)), /* [6] */
                       0                           calc(100% - var(--h)) /* [7] */
                      );
}

.art-3 .tooltiptext {
    min-width: 300px;
    max-width: 300px;
    padding: 20px;

    /* Speech bubble shape from https://verpex.com/blog/website-tips/how-to-create-a-tooltip-speech-bubble-using-css */
    clip-path: polygon(0                           var(--h), /* [1] */
                       calc(var(--p) - var(--w)/2) var(--h), /* [2] */
                       var(--p)                    0, /* [3] */
                       calc(var(--p) + var(--w)/2) var(--h), /* [4] */
                       100%                        var(--h), /* [5] */
                       100%                        calc(100% - var(--h)), /* [6] */
                       0                           calc(100% - var(--h)) /* [7] */
                      );
}

.art-4 .tooltiptext {
    /* 400 - (padding) = 400 - (20 * 2) = 360 */
    min-width: 400px;
    max-width: 400px;
    padding: 20px;

    /* Speech bubble shape from https://verpex.com/blog/website-tips/how-to-create-a-tooltip-speech-bubble-using-css */
    clip-path: polygon(0                           var(--h), /* [1] */
                       calc(var(--p) - var(--w)/2) var(--h), /* [2] */
                       var(--p)                    0, /* [3] */
                       calc(var(--p) + var(--w)/2) var(--h), /* [4] */
                       100%                        var(--h), /* [5] */
                       100%                        calc(100% - var(--h)), /* [6] */
                       0                           calc(100% - var(--h)) /* [7] */
                      );
}

.card:hover .tooltiptext {
    /* transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05); */
    visibility: visible;
}

/* Above CSS From https://www.w3schools.com/css/css_tooltip.asp */

.art-1 {
    /* max-width: 100%; */
    grid-column-end: span 1;
    grid-row-end: span 1;
    min-height: 100px;
}

.art-2 {
    /* max-width: 100%; */
    grid-column-end: span 2;
    grid-row-end: span 2;
    min-height: 200px;
}

.art-3 {
    /* max-width: 100%; */
    grid-column-end: span 3;
    grid-row-end: span 3;
    min-height: 300px;
}

.art-4 {
    /* max-width: 100%; */
    grid-column-end: span 4;
    grid-row-end: span 4;
    min-height: 400px;
}

/* .art {
    display: inline-flex;
    image-rendering: optimizeQuality;
    padding: 2px;
    width: 128px;
    height: 128px;
}

.bigArt {
    display: inline-flex;
    image-rendering: optimizeQuality;
    padding: 4px;
    width: 256px;
    height: 256px;
} */

.art:nth-child(even) {
    background-color: black;
}

.art:nth-child(odd) {
    background-color: white;
}

.bigArt:nth-child(even) {
    background-color: black;
}

.bigArt:nth-child(odd) {
    background-color: white;
}