* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: black;
    background-image: url("./assets/09-huong-full.png");
    background-repeat: repeat-y;
    background-position-x: 0;
    background-position-y: 0;
    background-size: cover;
}

.art-container {
    /* https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/ */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    /* auto-fit is the wrong choice here (despite having a seemingly identical result to auto-fill)
    because if you had a viewport long enough to show all characters in a single row, auto-fit would
    begin to stretch the characters to fit the container, which is NOT ideal for this use case */
    grid-gap: 2px;
    grid-auto-rows: minmax(80px, auto);
    grid-auto-flow: dense;
    /* align-items: stretch; */
}

/* .art-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: safe space-around;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0;
    margin: 0;
} */

.card {
    position: relative;
    display: inline-block;
    min-height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* transition-delay: 100ms; */
    /* transition-timing-function: ease-in-out; */
}

.card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    z-index: 1;
}

.shadowHedgehog:hover {
    transition-duration: 100ms;
    box-shadow: 4px 4px 4px black,
                -4px 4px 4px black,
                4px -4px 4px black,
                -4px -4px 4px black;
}

.abbyShadow:hover {
    transition-duration: 100ms;
    box-shadow: 4px 4px 4px white,
                -4px 4px 4px white,
                4px -4px 4px white,
                -4px -4px 4px white;
}

.absolutumShadow:hover {
    transition-duration: 200ms;
    box-shadow: 4px 4px 4px black,
                -4px 4px 4px black,
                4px -4px 4px black,
                -4px -4px 4px black;
}

.beetusShadow:hover {
    transition-duration: 200ms;
    box-shadow: 4px 4px 4px black,
                -4px 4px 4px black,
                4px -4px 4px black,
                -4px -4px 4px black;
}

.coilbaynShadow:hover {
    transition-duration: 100ms;
    box-shadow: 4px 4px 4px #ae873c, 4px 4px 4px #5b6555,
                -4px 4px 4px #ae873c, -4px 4px 4px #5b6555,
                4px -4px 4px #ae873c, 4px -4px 4px #5b6555,
                -4px -4px 4px #ae873c, -4px -4px 4px #5b6555;
}

.chembsShadow:hover {
    transition-duration: 100ms;
    box-shadow: 4px 4px 4px black, 4px 4px 4px #a00,
                -4px 4px 4px black, -4px 4px 4px #a00,
                4px -4px 4px black, 4px -4px 4px #a00,
                -4px -4px 4px black, -4px -4px 4px #a00;
}

.huongShadow:hover {
    transition-duration: 1600ms;
    box-shadow: 32px 32px 32px 32px black,
                -32px 32px 32px 32px black,
                32px -32px 32px 32px black,
                -32px -32px 32px 32px black;
}

.dead {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
}

.dead:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
}

/* Below CSS From https://www.w3schools.com/css/css_tooltip.asp */

.card .tooltiptext {
    font-size: smaller;
    word-wrap:break-word;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    /* padding: 5px 0; */
    border-radius: 0px;
    right: 0;
    top: 100%;
    opacity: 0.8;

    /* Positioning tooltip text */
    position: absolute;
    z-index: 3;

    /* Speech bubble shape from https://verpex.com/blog/website-tips/how-to-create-a-tooltip-speech-bubble-using-css */
    border-bottom: var(--h) solid #0000;
    --h: 5px;
    --w: 10px;
    --p: 50%
}

.art-1 .tooltiptext {
    min-width: 65;
    max-width: 65px;
    padding: 20px;

    /* Speech bubble shape from https://verpex.com/blog/website-tips/how-to-create-a-tooltip-speech-bubble-using-css */
    /* FLIPPED VERTICALLY */
    clip-path: polygon(0                           var(--h), /* [1] */
                       calc(var(--p) - var(--w)/2) var(--h), /* [2] */
                       var(--p)                    0,        /* [3] */
                       calc(var(--p) + var(--w)/2) var(--h), /* [4] */
                       100%                         var(--h), /* [5] */
                       100%                         calc(100% - var(--h)), /* [6] */
                       0                           calc(100% - var(--h)) /* [7] */
                      );
    /* ORIGINAL */
    /* clip-path: polygon(0                           0,
                          100%                        0,
                          100%                        calc(100% - var(--h)),
                          calc(var(--p) - var(--w)/2) calc(100% - var(--h)),
                          var(--p)                    100%,
                          calc(var(--p) + var(--w)/2) calc(100% - var(--h)),
                          0                           calc(100% - var(--h))
                         ); */
}

.art-2 .tooltiptext {
    min-width: 170px;
    max-width: 170px;
    padding: 20px;

    /* Speech bubble shape from https://verpex.com/blog/website-tips/how-to-create-a-tooltip-speech-bubble-using-css */
    clip-path: polygon(0                           var(--h), /* [1] */
                       calc(var(--p) - var(--w)/2) var(--h), /* [2] */
                       var(--p)                    0,        /* [3] */
                       calc(var(--p) + var(--w)/2) var(--h), /* [4] */
                       100%                        var(--h), /* [5] */
                       100%                        calc(100% - var(--h)), /* [6] */
                       0                           calc(100% - var(--h)) /* [7] */
                      );
}

.art-3 .tooltiptext {
    min-width: 275px;
    max-width: 275px;
    padding: 20px;

    /* Speech bubble shape from https://verpex.com/blog/website-tips/how-to-create-a-tooltip-speech-bubble-using-css */
    clip-path: polygon(0                           var(--h), /* [1] */
                       calc(var(--p) - var(--w)/2) var(--h), /* [2] */
                       var(--p)                    0,        /* [3] */
                       calc(var(--p) + var(--w)/2) var(--h), /* [4] */
                       100%                        var(--h), /* [5] */
                       100%                        calc(100% - var(--h)), /* [6] */
                       0                           calc(100% - var(--h)) /* [7] */
                      );
}

.art-4 .tooltiptext {
    min-width: 380px;
    max-width: 380px;
    padding: 20px;

    /* Speech bubble shape from https://verpex.com/blog/website-tips/how-to-create-a-tooltip-speech-bubble-using-css */
    clip-path: polygon(0                           var(--h), /* [1] */
                       calc(var(--p) - var(--w)/2) var(--h), /* [2] */
                       var(--p)                    0,        /* [3] */
                       calc(var(--p) + var(--w)/2) var(--h), /* [4] */
                       100%                        var(--h), /* [5] */
                       100%                        calc(100% - var(--h)), /* [6] */
                       0                           calc(100% - var(--h)) /* [7] */
                      );
}

.card:hover .tooltiptext {
    visibility: visible;
    z-index: 3;
}

/* Above CSS From https://www.w3schools.com/css/css_tooltip.asp */

.art-1 {
    /* max-width: 100%; */
    grid-column-end: span 1;
    grid-row-end: span 1;
    min-height: 100px;
}

.art-2 {
    /* max-width: 100%; */
    grid-column-end: span 2;
    grid-row-end: span 2;
    min-height: 200px;
}

.art-3 {
    /* max-width: 100%; */
    grid-column-end: span 3;
    grid-row-end: span 3;
    min-height: 300px;
}

.art-4 {
    /* max-width: 100%; */
    grid-column-end: span 4;
    grid-row-end: span 4;
    min-height: 400px;
}

/* .art {
    display: inline-flex;
    image-rendering: optimizeQuality;
    padding: 2px;
    width: 128px;
    height: 128px;
}

.bigArt {
    display: inline-flex;
    image-rendering: optimizeQuality;
    padding: 4px;
    width: 256px;
    height: 256px;
} */

.art:nth-child(even) {
    background-color: black;
}

.art:nth-child(odd) {
    background-color: white;
}

.bigArt:nth-child(even) {
    background-color: black;
}

.bigArt:nth-child(odd) {
    background-color: white;
}